body{background :  #ffe4e1}
h1{font-family:  'Baloo Da', cursive;}
h2 {font-family: 'Baloo Da', cursive; }
ul {font-family: 'Baloo Da', cursive;}

         h1 {font-size: 60px;}
         h2 {font-size: 50px;}
         ul {font-size: 27px;}
